{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WeTube</title>
    <link href="{% static 'account.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body style="background-color:#181818;">
<div class="navbar">
    <div>
        <a href="#" class="fa fa-bars fa-2x" style="color:white"></a>
        <a href="{% url 'home' %}"><img src="{% static 'images/WeTube-Logo.png' %}" alt="WeTube" class="logo"/></a>
    </div>
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div>
            <b><input type="search" placeholder="Search" class="search" name="title" required></b>
            <c>
                <button class="search-button"><i class="fa fa-search"></i></button>
            </c>
        </div>
    </form>
    <div>
        <account>
            {% if user.is_authenticated %}
            <a style="color: white; font-family: Roboto" href="{% url 'logout' %}"> Logout <x style="font-weight: bold">{{ user.username }}</x> </a>
            <a href="{% url 'account' %}" class="fa fa-round fa-user"></a>
            {% else %}
            <a href="{% url 'login' %}" class="fa fa-round fa-user"></a>
            {% endif %}
        </account>
        <upload>
            {% if not user.is_admin %}
            <a href="{% url 'upload' %}" class="fa fa-round fa-upload"></a>
            {% endif %}
        </upload>
    </div>

</div>
<div class="main">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>&copy 2022 WeTube, Inc.</p>
</footer>
</body>
</html>
