{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WeTube</title>
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body style="background-color:#181818;">
    <div class="navbar">
        <div>
            <a href="#" class="fa fa-bars fa-2x" style="color:white"></a>
		    <a href="{% url 'home' %}"><img src="{% static 'images/WeTube-Logo.png' %}" alt="WeTube" class="logo"/></a>
        </div>
        <div>
            <b><input type="search" placeholder="Search" class="search"></b>
            <c><button class="search-button"><i class="fa fa-search"></i></button></c>
        </div>
        <div>
            <account>
                {% if user.is_authenticated %}
                <a href="{% url 'login' %}" class="fa fa-round fa-user"></a>
                {% else %}
                <!-- TODO: Should be ACCOUNT PAGE -->
                <a href="{% url 'signup' %}" class="fa fa-round fa-user"></a>
                {% endif %}
            </account>
            <upload>
                <a href="{% url 'upload' %}" class="fa fa-round fa-upload"></a>
            </upload>
        </div>
        
	</div>
    <div class="main">
        <section>
          <div>
              <h1 class="home-title">Popular on WeTube</h1>
              <div class="box">
                  <a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
                  <a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a><a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a><a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
                  <a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a><a href="watch.html">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
              </div>
          </div>
        
          <h1 class="home-title">Trending Now</h1>
          <div class="box">
              <a href="">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
              <a href="">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt="">
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
              <a href="">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
              <a href="">
                      <img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true" alt=""> 
                      <div>
                          <info-title> How to create a WeTube account! </info-title>
                      </div>
                      <div>
                          <info-author> marmofayezi <i class="fa fa-check-circle" style="color:#B1B1B1"></i> </info-author>
                      </div>
                      <div>
                          <info-author> 15K views &#8226; 11 hours ago </info-author>
                      </div>
                  </a>
              
          </div>
        </section>
    </div>
    <footer>
            <p>&copy 2022 WeTube, Inc.</p>
    </footer>
</body>
</html>
