{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WeTube</title>
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body style="background-color:#181818;">
    <div class="navbar">
        <div>
            <a href="#" class="fa fa-bars fa-2x" style="color:white"></a>
		    <a href="{% url 'home' %}"><img src="{% static 'images/WeTube-Logo.png' %}" alt="WeTube" class="logo"/></a>
        </div>
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <div>
                <b><input type="search" placeholder="Search" class="search" name="title"></b>
                <c><button class="search-button"><i class="fa fa-search"></i></button></c>
            </div>
        </form>
        <div>
            <account>
                <a href="login.html" class="fa fa-round fa-user"></a>
            </account>
            <upload>
                <a href="upload.html" class="fa fa-round fa-upload"></a>
            </upload>
        </div>
        
	</div>
    <div class="main">
        <video controls class="video"> <source src="{{ video.file.url }}" type="video/mp4"> </video>
        <div>
            <h1 class="video-title">{{ video.title }}</h1>
        </div>
        <div class="video-details">
            <div>
                <info>{{ video.views }} views</info>
            </div>
            <div>
                <info> | </info>
            </div>
            <div>
                <info>{{ video.date_posted }}</info>
            </div>
            <div style="margin-left: 400px">
                <action>
                    <i class="fa fa-button fa-heart"></i>
                    <a>LIKE</a>
                </action>
                <action>
                    <i class="fa fa-button fa-heart-crack"></i>
                    <a>HATE</a>
                </action>
                {% if user.is_admin %}
                <action>
                    <i class="fa fa-button fa-ban"></i>
                    <a>BAN</a>
                </action>
                {% endif %}
            </div>
        </div>
        <hr class="sep">
        <div class="video-author">
            <div>
                <info><i class="fa fa-autor fa-user-circle fa-3x"></i></info>
            </div>
            <div>
                <info>{{ video.user.username }}</info>
            </div>
        </div>
        <div class="video-description">
            <div style="margin-left: 120px;">
                <span>
                    {{ video.description }}
                </span>
            </div>
        </div>
        <hr class="sep">
        <div>
            <div>
                <h2 class="comments-tilte">1000 Comments</h2>
            </div>
            <div>
                <textarea class="comment-input" placeholder="Add a comment ..."></textarea>
            </div>
            <div>
                <a><button class="comment-button">Cancel</button></a>
                <a><button class="comment-button">Comment</button></a>
            </div>
        </div>
        <div style="margin-top: 50px">
            {% for comment in comments %}
                <div style="margin-top: 25px">
                    <div class="comment-author">
                        <div>
                            <info><i class="fa fa-user-circle fa-2x"></i></info>
                        </div>
                        <div>
                            <info>{{ comment.user.username }}</info>
                        </div>
                    </div>
                    <div class="comment-message">
                        <div style="margin-left: 67px;">
                            <span>
                                {{ comment.body }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <footer>
      <p>&copy 2022 WeTube, Inc.</p>
    </footer>
</body>
</html>
